{% extends "./base.html" %}

{% block content %}
<h1>Upload</h1>

{% load crispy_forms_tags %}
{% crispy form %}

<h2>Recent Uploads</h2>
<table class="table">
<tr><th>Image Set</th><th>Uploaded</th></tr>
{% for imageset in request.user.imageset_set.all|dictsortreversed:"date_added"|slice:":10" %}
<tr>
<td><a rel="nofollow" href="{% url 'imageset' imageset %}">{{ imageset }}</a></td>
<td>{{ imageset.date_added }}</td>
</tr>
{% endfor %}
</table>

<p><a href="{% url 'logout' %}">Logout</a></p>
{% endblock %}
